*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #ffe5e2;
}

.contenedor-grilla{
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    width: calc(100% -20px);
    max-width: 680px;
}

.text{
    width: 100%;
    color: #907fa4;
    text-align: center;
    font-size: 30px;
}

.s1{
    margin-top: 10px;
    font-size: 17px;
}

.s2{
    margin:10px 0;
    font-size: 17px;
}
